<script type="text/javascript">
    var sc_project = 12481428;
    var sc_invisible = 1;
    var sc_security = "23a2a288";
    var sc_https = 1; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
    <div class="statcounter"><a title="site stats" href="https://statcounter.com/" target="_blank"><img
                class="statcounter" src="https://c.statcounter.com/12481428/0/23a2a288/1/" alt="site
    stats"></a></div>
</noscript>